clinicalprocess-healthcond-certificate/core-components/src/main/resources/clinicalprocess-healthcond-certificate/specializations/TS-Bas/ts-bas_model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2013 Inera AB (http://www.inera.se)

    This file is part of Inera Certificate Modules (http://code.google.com/p/inera-certificate-modules).

    Inera Certificate Modules is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    Inera Certificate Modules is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:riv:clinicalprocess:healthcond:certificate:1"
           xmlns:c="urn:riv:clinicalprocess:healthcond:certificate:types:1"
           xmlns:ext="urn:riv:clinicalprocess:healthcond:certificate:ts-bas:1"
           targetNamespace="urn:riv:clinicalprocess:healthcond:certificate:1"
           elementFormDefault="qualified" attributeFormDefault="unqualified"
           version="1.0">

  <xs:import namespace="urn:riv:clinicalprocess:healthcond:certificate:ts-bas:1" schemaLocation="ts-bas_model_extension.xsd"/>

  <xs:import namespace="urn:riv:clinicalprocess:healthcond:certificate:types:1"
    schemaLocation="../../core-components/clinicalprocess_healthcond_certificate_types_1.0.xsd"/>

  <xs:element name="utlatande" type="utlatandeType"/>

  <xs:complexType name="utlatandeType">
    <xs:sequence>
      <xs:element name="utlatande-id" type="c:UtlatandeId"/>
      <xs:element name="typAvUtlatande" type="c:TypAvUtlatande"/>
      <xs:element name="kommentar" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="signeringsdatum" type="c:TidStampel"/>
      <xs:element name="skickatdatum" type="c:TidStampel" minOccurs="0"/>

      <xs:element name="patient" type="patientType"/>
      <xs:element name="skapadAv" type="hosPersonalType"/>
      <xs:element name="vardkontakt" type="vardkontaktType"/>
      <xs:element name="aktivitet" type="aktivitetType"
                  maxOccurs="unbounded"/>
      <xs:element name="rekommendation" type="rekommendationType" maxOccurs="2" />
      <xs:element name="observation" type="observationType"
                  maxOccurs="unbounded"/>

      <xs:element ref="ext:observationAktivitetRelation" minOccurs="0" maxOccurs="unbounded" />

      <xs:element ref="ext:intygAvser" maxOccurs="unbounded"/>
      <xs:element ref="ext:utgava"/>
      <xs:element ref="ext:version"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="patientType">
    <xs:sequence>
      <xs:element name="person-id" type="c:PersonId"/>
      <xs:element name="fornamn" type="xs:string" maxOccurs="unbounded"/>
      <xs:element name="efternamn" type="xs:string"/>
      <xs:element name="postadress" type="xs:string"/>
      <xs:element name="postnummer" type="xs:string"/>
      <xs:element name="postort" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="vardkontaktType">
    <xs:sequence>
      <xs:element name="vardkontakttyp" type="vardkontaktKod"/>
      <xs:element name="idKontroll" type="idKontrollKod"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vardkontaktKod">
    <xs:complexContent>
      <xs:restriction base="c:CV">
        <xs:attribute name="code" type="vardkontaktKodEnum" use="required"/>
        <xs:attribute name="codeSystem" type="c:Uid" use="required" fixed="1.2.752.116.2.1.1.1"/>
        <xs:attribute name="codeSystemName" type="xs:string" use="required" fixed="SNOMED-CT"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="vardkontaktKodEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="5880005"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="idKontrollKod">
    <xs:complexContent>
      <xs:restriction base="c:CV">
        <xs:attribute name="code" type="idKontrollKodEnum" use="required"/>
        <xs:attribute name="codeSystem" type="c:Uid" use="required" fixed="e7cc8f30-a353-4c42-b17a-a189b6876647"/>
        <xs:attribute name="codeSystemName" type="xs:string" use="required" fixed="kv_id_kontroll"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="idKontrollKodEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IDK1"/>
      <xs:enumeration value="IDK2"/>
      <xs:enumeration value="IDK3"/>
      <xs:enumeration value="IDK4"/>
      <xs:enumeration value="IDK5"/>
      <xs:enumeration value="IDK6"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="aktivitetType">
    <xs:sequence>
      <xs:element name="aktivitets-id" type="ext:relationId" minOccurs="0"/>
      <xs:element name="aktivitetskod" type="aktivitetKod"/>
      <xs:element name="beskrivning" type="xs:string" minOccurs="0"/>
      <xs:element name="forekomst" type="xs:boolean" minOccurs="0"/>
      <xs:element ref="ext:plats" minOccurs="0"/>
      <xs:element ref="ext:metod" minOccurs="0"/>
      <xs:element ref="ext:ostruktureradtid" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="aktivitetKod">
    <xs:complexContent>
      <xs:restriction base="c:CV">
        <xs:attribute name="code" type="aktivitetKodEnum" use="required"/>
        <xs:attribute name="codeSystem" type="c:Uid" use="required"/>
        <xs:attribute name="codeSystemName" type="xs:string" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="aktivitetKodEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AKT14"/>
      <xs:enumeration value="AKT15"/>
      <xs:enumeration value="AKT17"/>
      <xs:enumeration value="86944008"/>
      <xs:enumeration value="AKT18"/>
      <xs:enumeration value="AKT19"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="observationType">
    <xs:sequence>
      <xs:element name="observations-id" type="ext:relationId" minOccurs="0" />
      <xs:element name="observationskod" type="observationKod" />
      <xs:element name="beskrivning" type="xs:string" minOccurs="0"/>
      <xs:element name="varde" type="c:PQ" minOccurs="0"/>
      <xs:element name="forekomst" type="xs:boolean" minOccurs="0"/>
      <xs:element ref="ext:lateralitet" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="observationKod">
    <xs:complexContent>
      <xs:restriction base="c:CV">
        <xs:attribute name="code" type="observationKodEnum" use="required"/>
        <xs:attribute name="codeSystem" type="c:Uid" use="required"/>
        <xs:attribute name="codeSystemName" type="xs:string" use="required"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="observationKodEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="H53.4"/>
      <xs:enumeration value="H53.2"/>
      <xs:enumeration value="H55.9"/>
      <xs:enumeration value="H53.6"/>
      <xs:enumeration value="OBS1"/>
      <xs:enumeration value="420050001"/>
      <xs:enumeration value="397535007"/>
      <xs:enumeration value="285049007"/>
      <xs:enumeration value="OBS2"/>
      <xs:enumeration value="OBS3"/>
      <xs:enumeration value="OBS4"/>
      <xs:enumeration value="OBS5"/>
      <xs:enumeration value="OBS6"/>
      <xs:enumeration value="OBS7"/>
      <xs:enumeration value="OBS8"/>
      <xs:enumeration value="73211009"/>
      <xs:enumeration value="E10"/>
      <xs:enumeration value="E11"/>
      <xs:enumeration value="170746002"/>
      <xs:enumeration value="170745003"/>
      <xs:enumeration value="OBS9"/>
      <xs:enumeration value="170747006"/>
      <xs:enumeration value="OBS10"/>
      <xs:enumeration value="407624006"/>
      <xs:enumeration value="G40.9"/>
      <xs:enumeration value="OBS11"/>
      <xs:enumeration value="OBS12"/>
      <xs:enumeration value="OBS13"/>
      <xs:enumeration value="OBS14"/>
      <xs:enumeration value="OBS15"/>
      <xs:enumeration value="OBS16"/>
      <xs:enumeration value="OBS17"/>
      <xs:enumeration value="129104009"/>
      <xs:enumeration value="OBS18"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="rekommendationType">
    <xs:sequence>
      <xs:element name="rekommendationskod" type="rekommendationKod"/>
      <xs:element name="beskrivning" type="xs:string" minOccurs="0"/>
      <xs:element ref="ext:varde" minOccurs="0" maxOccurs="10"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rekommendationKod">
    <xs:complexContent>
      <xs:restriction base="c:CV">
        <xs:attribute name="code" type="rekommendationKodEnum" use="required"/>
        <xs:attribute name="codeSystem" type="c:Uid" use="required" fixed="5a931b99-bda8-4f1e-8a6d-6f8a3f40a459"/>
        <xs:attribute name="codeSystemName" type="xs:string" use="required" fixed="kv_rekommendation_intyg"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="rekommendationKodEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="REK8"/>
      <xs:enumeration value="REK9"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="hosPersonalType">
    <xs:sequence>
      <xs:element name="personal-id" type="c:HsaId">
        <xs:annotation>
          <xs:documentation>HSA-id, o.i.d för HSA-id är 1.2.752.129.2.1.4.1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fullstandigtNamn" type="xs:string">
        <xs:annotation>
          <xs:documentation>Förnamn + efternamn sammanslaget.
            Är tomt om personen har en skyddad identitet.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- Skyddad identitet -->
      <xs:element name="befattning" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="enhet" type="enhetType"/>

      <xs:element ref="ext:specialitet" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="enhetType">
    <xs:sequence>
      <xs:element name="enhets-id" type="c:HsaId">
        <xs:annotation>
          <xs:documentation>HSA-id, o.i.d för HSA-id är 1.2.752.129.2.1.4.1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="enhetsnamn" type="xs:string"/>
      <xs:element name="postadress" type="xs:string"/>
      <xs:element name="postnummer" type="xs:string"/>
      <xs:element name="postort" type="xs:string"/>
      <xs:element name="telefonnummer" type="xs:string"/>
      <xs:element name="vardgivare" type="vardgivareType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="vardgivareType">
    <xs:sequence>
      <xs:element name="vardgivare-id" type="c:HsaId">
        <xs:annotation>
          <xs:documentation>HSA-id, o.i.d för HSA-id är 1.2.752.129.2.1.4.1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vardgivarnamn" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>