rivta/informationsecurity-authorization-consent/schemas/core_components/informationsecurity_authorization_consent_2.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (C) 2018 Inera AB (http://www.inera.se)
  ~
  ~ This file is part of sklintyg (https://github.com/sklintyg).
  ~
  ~ sklintyg is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ sklintyg is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
    xmlns:tns='urn:riv:informationsecurity:authorization:consent:2'
    targetNamespace='urn:riv:informationsecurity:authorization:consent:2'

    elementFormDefault='qualified'
    attributeFormDefault='unqualified'
    version='2.0'>

    <xs:annotation>
        <xs:documentation>
        </xs:documentation>
    </xs:annotation>

    <xs:simpleType name="ResultCodeType">
        <xs:annotation>
            <xs:documentation>
                Enumerationsvärde som anger de svarskoder som finns.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="OK">
                <xs:annotation>
                    <xs:documentation>
                        Transaktionen har utförts enligt uppdraget.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INFO">
                <xs:annotation>
                    <xs:documentation>
                        Transaktionen har utförts enligt begäran, men det finns ett meddelande som konsumenten måste visa upp för användaren (om tillämpbart). Exempel på detta kan vara &amp;quot;kom fastande&amp;quot;.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ERROR">
                <xs:annotation>
                    <xs:documentation>
                        Transaktionen har INTE kunnat utföras p.g.a ett logiskt fel. Det finns ett meddelande som konsumenten måste visa upp. Exempel på detta kan vara &amp;quot;tiden har bokats av annan patient&amp;quot;.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VALIDATION_ERROR">
                <xs:annotation>
                    <xs:documentation>
                        En eller flera inparametrar innehåller felaktiga värden. Angiven tjänst utfördes ej.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACCESSDENIED">
                <xs:annotation>
                    <xs:documentation>
                        Behörighet saknas för att utföra begärd tjänst. Angiven tjänst utfördes ej.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NOTFOUND">
                <xs:annotation>
                    <xs:documentation>
                        Angiven artifakt finns ej. Angiven tjänst utfördes ej.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ALREADYEXISTS">
                <xs:annotation>
                    <xs:documentation>
                        Angiven artifakt finns redan. Angiven tjänst utfördes ej.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INVALIDSTATE">
                <xs:annotation>
                    <xs:documentation>
                        Angiven tjänst utfördes ej då tjänsten eller artifakten var i ett felaktigt tillstånd.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AssertionTypeType">
        <xs:annotation>
            <xs:documentation>
                Enumerationsvärde som anger typ av intyg som ger direktåtkomst till information från andra vådgivare enligt PDL.
                Kan vara patientens samtycke eller nödsituation.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Consent">
                <xs:annotation>
                    <xs:documentation>
                        Patienten/Företrädaren har givit sitt samtycke.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Emergency">
                <xs:annotation>
                    <xs:documentation>
                        Nödsituation föreligger. Patientens samtycke kunde ej inhämtas.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ScopeType">
        <xs:annotation>
            <xs:documentation>
                Enumerationsvärde som anger omfånget/tillämpningsområde på intyget.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NationalLevel">
                <xs:annotation>
                    <xs:documentation>
                        Intyget gäller på nationell nivå.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ReasonText">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar en orsak eller anledning till en viss åtgärd.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="1024"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AssignmentNameType">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar namn på medarbetaruppdrag.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Id">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar ett unikt identifikationsnummer enligt formatet för UUID (Universally Unique Identifier).
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="36"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="OwnerId">
        <xs:annotation>
            <xs:documentation>
                Datatyp som identifierar systemet som registrerade/skapade artifakten. Används endast för tekniskt bruk för t.ex. uppföljning och spårning.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="512"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="HsaId">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar det unika nummer som identifierar en anställd, uppdragstagare, strukturenhet eller en HCC funktion (HSA-id).
                Specificerat enligt HSA-schema tjänsteträdet version 3.9.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="IIType">
        <xs:annotation>
            <xs:documentation>
                En universellt unik identifierare.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="root" type="xs:string"/>
            <xs:element name="extension" type="xs:string" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ResultType">
        <xs:annotation>
            <xs:documentation>
                Datatyp som returneras som ett generellt svar från alla förändrande tjänster, t.ex. skapa, radera, etc.
                En tjänstekonsument skall alltid kontrollera att resultatkoden inte innehåller fel för att på så sätt veta om anropet lyckades.
                Alla svarskoder förutom OK och INFO betyder att åtgärden inte genomfördes.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="resultCode" type="tns:ResultCodeType"/>
            <xs:element name="resultText" type="xs:string" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ActorType">
        <xs:annotation>
            <xs:documentation>
                Datatyp som identifierar en medarbetare/person.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="employeeId" type="tns:HsaId"/>
            <xs:element name="assignmentId" type="tns:HsaId" minOccurs="0"/>
            <xs:element name="assignmentName" type="tns:AssignmentNameType" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AccessingActorType">
        <xs:annotation>
            <xs:documentation>
                Datatyp som identifierar en medarbetare/person som vill ha åtkomst till specifik information.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="employeeId" type="tns:HsaId"/>
            <xs:element name="careProviderId" type="tns:HsaId"/>
            <xs:element name="careUnitId" type="tns:HsaId"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ActionType">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar den eller de aktörer/personer som begärt och/eller utfört en åtgärd med
                en möjlig orsak/anledning angivet som fritext.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="requestDate" type="xs:dateTime"/>
            <xs:element name="requestedBy" type="tns:ActorType"/>
            <xs:element name="registrationDate" type="xs:dateTime"/>
            <xs:element name="registeredBy" type="tns:ActorType"/>
            <xs:element name="reasonText" type="tns:ReasonText" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PDLAssertionType">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar ett intyg som ger direktåtkomst till andra vårdgivares information enligt PDL. Datatypen beskriver grundformatet för ett intyg.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="assertionId" type="tns:Id"/>
            <xs:element name="assertionType" type="tns:AssertionTypeType"/>
            <xs:element name="scope" type="tns:ScopeType"/>
            <xs:element name="careProviderId" type="tns:HsaId"/>
            <xs:element name="careUnitId" type="tns:HsaId"/>
            <xs:element name="employeeId" type="tns:HsaId" minOccurs="0"/>
            <xs:element name="startDate" type="xs:dateTime"/>
            <xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="ownerId" type="tns:OwnerId" minOccurs="0"/>
            <xs:element name="patientId" type="tns:IIType"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ExtendedPDLAssertionType">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar ett samtycke med ett utökat format. Innehåller information vem som har begärt respektive registrerat samtycket, samt om och när samtycket är återkallat eller makulerat.
                Datatypen utökar datatypen PDLAssertion.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="pDLAssertion" type="tns:PDLAssertionType"/>
            <xs:element name="representedBy" type="tns:IIType" minOccurs="0"/>
            <xs:element name="registrationInfo" type="tns:ActionType"/>
            <xs:element name="cancellationInfo" type="tns:ActionType" minOccurs="0"/>
            <xs:element name="deletionInfo" type="tns:ActionType" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GetExtendedConsentsResultType">
        <xs:annotation>
            <xs:documentation>
                Datatyp som innehåller resultatet från en hämtning av samtyckesintyg enligt det utökade formatet tillsammans med hämtade samtyckesintyg.
                Datatypen utökar datatypen Result.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="result" type="tns:ResultType"/>
            <xs:element name="pdlAssertions" type="tns:ExtendedPDLAssertionType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CancelledAssertionType">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar ett makulerat eller återkallat samtycke samt tidpunkten när makuleringen eller återkallan utfördes.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="assertionId" type="tns:Id"/>
            <xs:element name="cancellationDate" type="xs:dateTime"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GetAllAssertionsResultType">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar en lista med giltiga intyg tillsammans med en lista av makulerade och återkallade intyg. Den används för att dela upp svaret från tjänsten i mindre delar baserat på tidpunkt.
                Datatypen innehåller information om det finns ytterligare intyg att hämta samt en ny starttidpunkt för när nästa sekvens av intyg startar.
                Datatypen utökar datatypen Result.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="result" type="tns:ResultType"/>
            <xs:element name="moreOnOrAfter" type="xs:dateTime"/>
            <xs:element name="hasMore" type="xs:boolean"/>
            <xs:element name="assertions" type="tns:PDLAssertionType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="cancelledAssertions" type="tns:CancelledAssertionType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GetConsentsResultType">
        <xs:annotation>
            <xs:documentation>
                Datatyp som innehåller resultatet från en hämtning av samtyckesintyg enligt det utökade formatet tillsammans med hämtade samtyckesintyg.
                Datatypen utökar datatypen Result.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="result" type="tns:ResultType"/>
            <xs:element name="pdlAssertions" type="tns:PDLAssertionType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CheckResultType">
        <xs:annotation>
            <xs:documentation>
                Datatyp som anger om det finns ett giltigt samtycke, alternativt intyg om nödsituation, gällande åtkomst för viss aktör.
                Datatypen utökar datatypen Result.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="result" type="tns:ResultType"/>
            <xs:element name="hasConsent" type="xs:boolean"/>
            <xs:element name="assertionType" type="tns:AssertionTypeType" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
