rivta/informationsecurity-auditing-log/schemas/core_components/informationsecurity_auditing_log_2.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Inera AB licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->    
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' 
    xmlns:tns='urn:riv:informationsecurity:auditing:log:2'
    targetNamespace='urn:riv:informationsecurity:auditing:log:2'

    elementFormDefault='qualified'
    attributeFormDefault='unqualified' 
    version='2.0'>

    <xs:annotation>
        <xs:documentation>
        </xs:documentation>
    </xs:annotation>





    <xs:simpleType name="ResultCodeType">
        <xs:annotation>
            <xs:documentation>
                Enumerationsvärde som anger de svarskoder som finns.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="OK">
                <xs:annotation>
                    <xs:documentation>
                        Transaktionen har utförts enligt uppdraget.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INFO">
                <xs:annotation>
                    <xs:documentation>
                        Transaktionen har utförts enligt begäran, men det finns ett meddelande som konsumenten måste visa upp för användaren (om tillämpbart). Exempel på detta kan vara &amp;quot;kom fastande&amp;quot;.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ERROR">
                <xs:annotation>
                    <xs:documentation>
                        Transaktionen har INTE kunnat utföras p.g.a ett logiskt fel. Det finns ett meddelande som konsumenten måste visa upp. Exempel på detta kan vara &amp;quot;tiden har bokats av annan patient&amp;quot;.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="VALIDATION_ERROR">
                <xs:annotation>
                    <xs:documentation>
                        En eller flera inparametrar innehåller felaktiga värden. Angiven tjänst utfördes ej.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACCESSDENIED">
                <xs:annotation>
                    <xs:documentation>
                        Behörighet saknas för att utföra begärd tjänst. Angiven tjänst utfördes ej.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REPORT_ON_QUEUE">
                <xs:annotation>
                    <xs:documentation>
                        Angiven rapport är ej klar. Rapporten ligger på kö för att genereras. Ytterligere anrop kan göras för att kontrollera om jobbet är klart.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REPORT_IN_PROCESS">
                <xs:annotation>
                    <xs:documentation>
                        Angiven rapport är ej klar. Rapporten är under uppbyggnad. Ytterligere anrop kan göras för att kontrollera om jobbet är klart.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REPORT_NOT_FOUND">
                <xs:annotation>
                    <xs:documentation>
                        Felaktig id angivet. Angiven tjänst ej kan hitta rapport med angivet id som är skapad eller rapport som ligger på kö för att skapas.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MAX_QUERY_RESULT_EXCEEDED">
                <xs:annotation>
                    <xs:documentation>
                        Max antal loggposter som tjänsten kan returnera har överstigits. Ändra sökparametrar för att begränsa rapportuttaget.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Id">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar ett unikt identifikationsnummer enligt formatet för UUID (Universally Unique Identifier).
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="36"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="ResourceTypeValue">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar en aktivitets nivå.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="HsaId">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar det unika nummer som identifierar en anställd, uppdragstagare, strukturenhet eller en HCC funktion (HSA-id).
                Specificerat enligt HSA-schema tjänsteträdet version 3.9.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="CareProviderName">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar namn på en vårdgivare.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="CareUnitName">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar namn på en vårdenhet.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="PatientName">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar en patients namn.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="UserName">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar namn för en användare.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="UserTitle">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar titel på användare.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="Assignment">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar namn på medarbetare i uppdrag.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="PurposeDescription">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar beskrivning av ett syfte i Hsa.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="ActivityTypeValue">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar beskrivning av en aktivitetstyp.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="ActivityLevel">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar en aktivitets nivå.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="ActivityArgs">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar en .
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="8192"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="SystemName">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar namn på ett system.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="IIType">
        <xs:annotation>
            <xs:documentation>
                En universellt unik identifierare.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="root" type="xs:string"/>
            <xs:element name="extension" type="xs:string" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ResultType">
        <xs:annotation>
            <xs:documentation>
                Datatyp som returneras som ett generellt svar från alla förändrande tjänster, t.ex. skapa, radera, etc. 
                En anropande klient skall alltid kontrollera att resultatkoden inte innehåller fel för att på så sätt veta om anropet lyckades. 
                Alla svarskoder förutom OK och INFO betyder att åtgärden inte genomfördes.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="resultCode" type="tns:ResultCodeType"/>
            <xs:element name="resultText" type="xs:string" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ReportResultType">
        <xs:sequence>
            <xs:element name="result" type="tns:ResultType"/>
            <xs:element name="startInterval" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="endInterval" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="queuedReportId" type="tns:Id" minOccurs="0"/>
            <xs:element name="queueTime" type="xs:int" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="SystemType">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar ett system i loggposten. Det system som skapar loggposten.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="systemId" type="tns:HsaId"/>
            <xs:element name="systemName" type="tns:SystemName" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ActivityType">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar vilken typ av aktivitet som utförts, på vilken nivå, tidpunkt samt syftet med aktiviteten.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="activityType" type="tns:ActivityTypeValue"/>
            <xs:element name="activityLevel" type="tns:ActivityLevel" minOccurs="0"/>
            <xs:element name="activityArgs" type="tns:ActivityArgs" minOccurs="0"/>
            <xs:element name="startDate" type="xs:dateTime"/>
            <xs:element name="purpose" type="tns:PurposeDescription"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="UserType">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar användaren som utfört aktivitet, tillika ägare av loggpost.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="userId" type="tns:HsaId"/>
            <xs:element name="name" type="tns:UserName" minOccurs="0"/>
            <xs:element name="personId" type="tns:IIType" minOccurs="0"/>
            <xs:element name="assignment" type="tns:Assignment" minOccurs="0"/>
            <xs:element name="title" type="tns:UserTitle" minOccurs="0"/>
            <xs:element name="careProvider" type="tns:CareProviderType"/>
            <xs:element name="careUnit" type="tns:CareUnitType"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="LogType">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar en loggpost enligt PDL. Datatypen beskriver grundformatet för en loggpost.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="logId" type="tns:Id"/>
            <xs:element name="system" type="tns:SystemType"/>
            <xs:element name="activity" type="tns:ActivityType"/>
            <xs:element name="user" type="tns:UserType"/>
            <xs:element name="resources" type="tns:ResourcesType"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ResourcesType">
        <xs:annotation>
            <xs:documentation>
                Information om aktuella resurser. En loggpost kan hålla en eller flera resurser.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="resource" type="tns:ResourceType" maxOccurs="unbounded"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ResourceType">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar en resurs i loggposten.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="resourceType" type="tns:ResourceTypeValue"/>
            <xs:element name="patient" type="tns:PatientType" minOccurs="0"/>
            <xs:element name="careProvider" type="tns:CareProviderType"/>
            <xs:element name="careUnit" type="tns:CareUnitType" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="PatientType">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar en patient i en resurs.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="patientId" type="tns:IIType"/>
            <xs:element name="patientName" type="tns:PatientName" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="CareProviderType">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar en vårdgivare.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="careProviderId" type="tns:HsaId"/>
            <xs:element name="careProviderName" type="tns:CareProviderName" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="CareUnitType">
        <xs:annotation>
            <xs:documentation>
                Datatyp som representerar en vårdenhet.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="careUnitId" type="tns:HsaId"/>
            <xs:element name="careUnitName" type="tns:CareUnitName" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AccessLogsResultType">
        <xs:annotation>
            <xs:documentation>
                Datatyp som returneras av tjänst. accessLogs ej satt vid eventuella fel.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="reportResult" type="tns:ReportResultType"/>
            <xs:element name="accesssLogs" type="tns:AccessLogsType" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AccessLogsType">
        <xs:annotation>
            <xs:documentation>
                Datatyp som håller lista med Access loggar. Kan vara en tom lista.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="accessLog" type="tns:AccessLogType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AccessLogType">
        <xs:annotation>
            <xs:documentation>
                Datatyp som håller information för vilken vårdgivare och vårdenhet som haft åtkomst samt typ av resurs, orsak och tidpunkt.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="careProviderId" type="tns:HsaId"/>
            <xs:element name="careProviderName" type="tns:CareProviderName" minOccurs="0"/>
            <xs:element name="careUnitId" type="tns:HsaId"/>
            <xs:element name="careUnitName" type="tns:CareUnitName" minOccurs="0"/>
            <xs:element name="accessDate" type="xs:dateTime"/>
            <xs:element name="userId" type="tns:HsaId"/>
            <xs:element name="userName" type="tns:UserName" minOccurs="0"/>
            <xs:element name="userTitle" type="tns:UserTitle" minOccurs="0"/>
            <xs:element name="purpose" type="tns:PurposeDescription"/>
            <xs:element name="resourceType" type="tns:ResourceTypeValue"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="InfoLogsResultType">
        <xs:annotation>
            <xs:documentation>
                Datatyp som returneras av tjänst. careProviders är ej satt vid eventuella fel.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="reportResult" type="tns:ReportResultType"/>
            <xs:element name="careProviders" type="tns:CareProvidersType" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="CareProvidersType">
        <xs:annotation>
            <xs:documentation>
                Datatyp som håller lista med vårdgivare. Kan vara en tom lista.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="careProvider" type="tns:CareProviderType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="LogsResultType">
        <xs:annotation>
            <xs:documentation>
                Datatyp som returneras av tjänst. logs är ej satt vid eventuella fel.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="reportResult" type="tns:ReportResultType"/>
            <xs:element name="logs" type="tns:LogsType" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="LogsType">
        <xs:annotation>
            <xs:documentation>
                Datatyp som håller lista med loggposter. Kan vara en tom lista
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="log" type="tns:LogType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
