intyg/fk/schemas/core_components/se_intygstjanster_services_fk_1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:local:se:intygstjanster:services:fk:1"
    targetNamespace="urn:local:se:intygstjanster:services:fk:1" elementFormDefault="qualified"
    attributeFormDefault="unqualified" version="1.0">

  <xs:element name="sjukpenningIntyg" type="SjukpenningIntyg"/>

  <xs:complexType name="SjukpenningIntyg">
    <xs:sequence>
      <xs:element name="intygsId" type="xs:string"/>
      <xs:element name="intygsTyp" type="xs:string" fixed="sjukpenning"/>
      <xs:element name="grundData" type="GrundData"/>
      <xs:element name="vardKontakter" type="VardkontakterTyp"/>
      <xs:element name="sysselsattning" type="SysselsattningTyp"/>
      <xs:element name="sjukdomar" type="SjukdomarTyp"/>
      <xs:element name="konsekvenser" type="KonsekvensTyp" minOccurs="0"/>
      <xs:element name="behandling" type="BehandlingTyp" minOccurs="0"/>
      <xs:element name="bedomning" type="BedomningTyp" minOccurs="0"/>
      <xs:element name="kanGora" type="xs:string" minOccurs="0"/>
      <xs:element name="prognosAterga" type="xs:string" minOccurs="0"/>
      <xs:element name="forslagAtgarder" type="AtgarderTyp" minOccurs="0"/>
      <xs:element name="ovrigt" type="xs:string" minOccurs="0"/>
      <xs:element name="onskarKontakt" type="KontaktTyp"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GrundData">
    <xs:sequence>
      <xs:element name="signeringsTidstampel" type="xs:dateTime"/>
      <xs:element name="skapadAv" type="SkapadAv"/>
      <xs:element name="patient" type="Patient"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SkapadAv">
    <xs:sequence>
      <xs:element name="personId" type="xs:string"/>
      <xs:element name="fullstandigtNamn" type="xs:string"/>
      <xs:element name="specialistKompetens" type="xs:string" minOccurs="0"/>
      <xs:element name="atLakare" type="xs:boolean" minOccurs="0"/>
      <xs:element name="stLakare" type="xs:boolean" minOccurs="0"/>
      <xs:element name="vardenhet" type="Vardenhet"/>
      <xs:element name="specialiteter" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="befattningar" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Vardenhet">
    <xs:sequence>
      <xs:element name="enhetsId" type="xs:string"/>
      <xs:element name="enhetsnamn" type="xs:string"/>
      <xs:element name="postadress" type="xs:string"/>
      <xs:element name="postnummer" type="xs:string"/>
      <xs:element name="postort" type="xs:string"/>
      <xs:element name="telefonnummer" type="xs:string"/>
      <xs:element name="vardgivare" type="Vardgivare"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Vardgivare">
    <xs:sequence>
      <xs:element name="vardgivarid" type="xs:string"/>
      <xs:element name="vardgivarnamn" type="xs:string"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Patient">
    <xs:sequence>
      <xs:element name="personId" type="xs:string"/>
      <xs:element name="fullstandigtNamn" type="xs:string"/>
      <xs:element name="fornamn" type="xs:string"/>
      <xs:element name="efternamn" type="xs:string"/>
      <xs:element name="postadress" type="xs:string"/>
      <xs:element name="postnummer" type="xs:string"/>
      <xs:element name="postort" type="xs:string"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VardkontakterTyp">
    <xs:sequence>
      <xs:element name="vardkontakt" type="VardkontaktTyp" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VardkontaktTyp">
    <xs:sequence>
      <xs:element name="datum" type="xs:date"/>
      <xs:element name="beskrivning" type="VardkontaktBeskrivningTyp"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="VardkontaktBeskrivningTyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="undersokning_av_patienten"/>
      <xs:enumeration value="telefonkontakt_med_patienten"/>
      <xs:enumeration value="journaluppgifter"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SysselsattningTyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nuvarande_arbete"/>
      <xs:enumeration value="Arbetsloshet"/>
      <xs:enumeration value="Foraldraledighet"/>
      <xs:enumeration value="Okand"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="SjukdomarTyp">
    <xs:sequence>
      <xs:element name="diagnos" type="SjukdomTyp" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SjukdomTyp">
    <xs:sequence>
      <xs:element name="codeSystemId" type="xs:string"/>
      <xs:element name="codeSystemCode" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="KonsekvensTyp">
    <xs:sequence>
      <xs:element name="konsekvens" type="xs:string"/>
      <xs:element name="begransning" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BehandlingTyp">
    <xs:sequence>
      <xs:element name="pagaende" type="xs:string"/>
      <xs:element name="planerade" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BedomningTyp">
    <xs:sequence>
      <xs:element name="sjukskrivning" type="SjukskrivningTyp" maxOccurs="4"/>
      <xs:element name="annatFardmedel" type="xs:boolean"/>
      <xs:element name="overskridenLangd" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SjukskrivningTyp">
    <xs:sequence>
      <xs:element name="varaktighetFrom" type="xs:date"/>
      <xs:element name="varaktighetTom" type="xs:date"/>
      <xs:element name="nedsattningsgrad" type="Nedsattningsgrad"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="Nedsattningsgrad">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Helt_nedsatt"/>
      <xs:enumeration value="Nedsatt_med_3/4"/>
      <xs:enumeration value="Nedsatt_med_1/2"/>
      <xs:enumeration value="Nedsatt_med_1/4"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="AtgarderTyp">
    <xs:sequence>
      <xs:element name="atgard" type="AtgardTyp" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="AtgardTyp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="inte_ aktuellt"/>
      <xs:enumeration value="arbetstraning"/>
      <xs:enumeration value="arbetsanpassning"/>
      <xs:enumeration value="soka_nytt_arbete"/>
      <xs:enumeration value="besok_pa_ arbetsplatsen"/>
      <xs:enumeration value="ergonomisk_bedomning"/>
      <xs:enumeration value="hjalpmedel"/>
      <xs:enumeration value="konflikthantering"/>
      <xs:enumeration value="kontakt_med_foretagshalsovard"/>
      <xs:enumeration value="omfordelning_av_arbetsuppgifter"/>
      <xs:enumeration value="ovrigt"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="KontaktTyp">
    <xs:sequence>
      <xs:element name="onskarKontakt" type="xs:boolean"/>
      <xs:element name="orsak" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IntygMeta">
    <xs:sequence>
      <xs:element name="status" type="IntygStatus" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element name="additionalInfo" type="xs:string" minOccurs="0"/>
      <xs:element name="available" type="xs:string"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IntygStatus">
    <xs:sequence>
      <xs:element name="target" type="xs:string"/>
      <xs:element name="type" type="Status"/>
      <xs:element name="timestamp" type="xs:dateTime"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="Status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNHANDLED"/>
      <xs:enumeration value="DELETED"/>
      <xs:enumeration value="RESTORED"/>
      <xs:enumeration value="CANCELLED"/>
      <xs:enumeration value="SENT"/>
      <xs:enumeration value="RECEIVED"/>
      <xs:enumeration value="IN_PROGRESS"/>
      <xs:enumeration value="PROCESSED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ResultatTyp">
    <xs:annotation>
      <xs:documentation xml:lang="sv">
        Datatyp som returneras som ett generellt svar från alla förändrande tjänster, t.ex. skapa, radera, etc. En
        anropande klient skall alltid kontrollera att resultatkoden inte innehåller fel för att på så sätt veta om
        anropet lyckades. Alla svarskoder förutom OK och INFO betyder att åtgärden inte genomfördes. Om svarskoden är
        INFO skall fältet resultText innehålla mer information. Om svarskorden är ERROR skall fältet errorId innehålla
        en specifik felkod, och fältet resultText innehålla mer information.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="resultCode" type="ResultCodeType"/>
      <xs:element name="resultText" type="xs:string" minOccurs="0"/>
      <xs:element name="errorId" type="ErrorIdType" minOccurs="0"/>
      <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ResultCodeType">
    <xs:annotation>
      <xs:documentation xml:lang="sv">
        Enumerationsvärde som anger de svarskoder som finns.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Transaktionen har utförts enligt uppdraget.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="INFO">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Transaktionen har utförts enligt begäran, men det finns ett meddelande som konsumenten bör visa upp.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ERROR">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Transaktionen har INTE kunnat utföras. Det finns en felkod som klassificerar felet, samt ett meddelande som
            konsumenten bör visa upp.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ErrorIdType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VALIDATION_ERROR">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            En eller flera inparametrar innehåller felaktiga värden. Angiven tjänst utfördes ej, och omsändning av
            transaktionen är inte tillämpbart.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="APPLICATION_ERROR">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Transaktionen har INTE kunnat utföras p.g.a ett logiskt fel. Det finns ett meddelande som konsumenten bör
            visa upp. Då felet är logisk är omsändning av transaktionen inte tillämpbart.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TECHNICAL_ERROR">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Transaktionen har INTE kunnat utföras p.g.a ett tekniskt fel. Det finns ett meddelande som konsumenten bör
            visa upp. Felet kan vara intermittent, varför omsändning av transaktionen är tillämpbart.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="REVOKED">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Den efterfrågade informationen existerar men har rättats/dragits tillbaka och är ej längre giltig eller
            tillgänglig. Angiven tjänst utfördes ej, och omsändning av transaktionen är inte tillämpbart.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
