intyg/clinicalprocess-healthcond-rehabilitation/schemas/core_components/clinicalprocess_healthcond_certificate_1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2016 Inera AB (http://www.inera.se)
  ~
  ~ This file is part of sklintyg (https://github.com/sklintyg).
  ~
  ~ sklintyg is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ sklintyg is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="urn:riv:clinicalprocess:healthcond:certificate:1"
  xmlns:types="urn:riv:clinicalprocess:healthcond:certificate:types:1"
  targetNamespace="urn:riv:clinicalprocess:healthcond:certificate:1" elementFormDefault="qualified"
  attributeFormDefault="unqualified" version="1.0">

  <xs:import namespace="urn:riv:clinicalprocess:healthcond:certificate:types:1"  schemaLocation="./clinicalprocess_healthcond_certificate_types_1.0.xsd"/>

  <xs:element name="utlatande" type="Utlatande"/>

  <xs:complexType name="Utlatande">
    <xs:sequence>
      <xs:element name="utlatande-id" type="types:UtlatandeId"/>
      <xs:element name="typAvUtlatande" type="types:TypAvUtlatande"/>
      <xs:element name="kommentar" type="types:nonEmptyString" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="signeringsdatum" type="types:TidStampel"/>
      <xs:element name="skickatdatum" type="types:TidStampel" minOccurs="0"/>
      <xs:element name="patient" type="Patient"/>
      <xs:element name="skapadAv" type="HosPersonal"/>
      <xs:element name="vardkontakt" type="Vardkontakt" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="referens" type="Referens" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="aktivitet" type="Aktivitet" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="rekommendation" type="Rekommendation" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="observation" type="Observation" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element name="relaterarTill" type="types:UtlatandeId" minOccurs="0"/>

      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HosPersonal">
    <xs:sequence>
      <xs:element name="personal-id" type="types:HsaId">
        <xs:annotation>
          <xs:documentation>HSA-id, o.i.d för HSA-id är 1.2.752.129.2.1.4.1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fullstandigtNamn" type="types:nonEmptyString" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Förnamn + efternamn sammanslaget.
            Är tomt om personen har en skyddad identitet.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- Skyddad identitet -->
      <xs:element name="forskrivarkod" type="types:nonEmptyString" minOccurs="0"/>
      <xs:element name="befattning" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="enhet" type="Enhet"/>
      <xs:element name="yrkesgrupp" type="types:CV" minOccurs="0" maxOccurs="unbounded"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Enhet">
    <xs:sequence>
      <xs:element name="enhets-id" type="types:HsaId">
        <xs:annotation>
          <xs:documentation>HSA-id, o.i.d för HSA-id är 1.2.752.129.2.1.4.1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arbetsplatskod" type="types:ArbetsplatsKod" minOccurs="0">
        <xs:annotation>
          <xs:documentation>o.i.d för arbetsplatskod är 1.2.752.29.4.71</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="enhetsnamn" type="types:nonEmptyString"/>
      <xs:element name="postadress" type="types:nonEmptyString" minOccurs="0"/>
      <xs:element name="postnummer" type="types:nonEmptyString" minOccurs="0"/>
      <xs:element name="postort" type="types:nonEmptyString" minOccurs="0"/>
      <xs:element name="telefonnummer" type="types:nonEmptyString" minOccurs="0"/>
      <xs:element name="epost" type="types:nonEmptyString" minOccurs="0"/>
      <xs:element name="vardgivare" type="Vardgivare"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Vardgivare">
    <xs:sequence>
      <xs:element name="vardgivare-id" type="types:HsaId">
        <xs:annotation>
          <xs:documentation>HSA-id, o.i.d för HSA-id är 1.2.752.129.2.1.4.1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vardgivarnamn" type="types:nonEmptyString"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Patient">
    <xs:sequence>
      <xs:element name="person-id" type="types:PersonId"/>
      <xs:element name="fornamn" type="types:nonEmptyString" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="efternamn" type="types:nonEmptyString"/>
      <xs:element name="mellannamn" type="types:nonEmptyString" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="postadress" type="types:nonEmptyString" minOccurs="0"/>
      <xs:element name="postnummer" type="types:nonEmptyString" minOccurs="0"/>
      <xs:element name="postort" type="types:nonEmptyString" minOccurs="0"/>

      <xs:element name="patientRelation" type="PatientRelation" minOccurs="0"
        maxOccurs="unbounded"/>
      <xs:element name="arbetsuppgift" type="Arbetsuppgift" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="sysselsattning" type="Sysselsattning" minOccurs="0"
        maxOccurs="unbounded"/>

      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PatientRelation">
    <xs:sequence>
      <xs:element name="relationskategori" type="types:CV"/>
      <xs:element name="relationTyp" type="types:CV" maxOccurs="unbounded"/>
      <xs:element name="person-id" type="types:PersonId" minOccurs="0"/>
      <xs:element name="fornamn" type="types:nonEmptyString" maxOccurs="unbounded"/>
      <xs:element name="efternamn" type="types:nonEmptyString"/>
      <xs:element name="mellannamn" type="types:nonEmptyString" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="postadress" type="types:nonEmptyString" minOccurs="0"/>
      <xs:element name="postnummer" type="types:nonEmptyString" minOccurs="0"/>
      <xs:element name="postort" type="types:nonEmptyString" minOccurs="0"/>

      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Arbetsuppgift">
    <xs:sequence>
      <xs:element name="typAvArbetsuppgift" type="types:nonEmptyString"/>

      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Sysselsattning">
    <xs:sequence>
      <xs:element name="typAvSysselsattning" type="types:CV"/>

      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Vardkontakt">
    <xs:sequence>
      <xs:element name="vardkontakttyp" type="types:CV"/>
      <xs:element name="vardkontakttid" type="types:DatumPeriod" minOccurs="0"/>
      <xs:element name="idKontroll" type="types:CV" minOccurs="0"/>

      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Referens">
    <xs:sequence>
      <xs:element name="referenstyp" type="types:CV"/>
      <xs:element name="referens-id" type="types:II" minOccurs="0"/>
      <xs:element name="referensdatum" type="types:Datum" minOccurs="0"/>
      <xs:element name="referensperiod" type="types:DatumPeriod" minOccurs="0"/>
      <xs:element name="beskrivning" type="xs:string" minOccurs="0"/>


      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Aktivitet">
    <xs:sequence>
      <xs:element name="aktivitets-id" type="types:II" minOccurs="0"/>
      <xs:element name="aktivitetskod" type="types:CV"/>
      <xs:element name="aktivitetstid" type="types:PartiellDatumPeriod" minOccurs="0"/>
      <xs:element name="beskrivning" type="types:nonEmptyString" minOccurs="0"/>

      <xs:element name="utforsVidEnhet" type="Enhet" minOccurs="0"/>
      <xs:element name="beskrivsAv" type="Utforarroll" minOccurs="0" maxOccurs="unbounded"/>

      <xs:element name="forekomst" type="xs:boolean" minOccurs="0"/>

      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Utforarroll">
    <xs:sequence>
      <xs:element name="utforartyp" type="types:CV"/>

      <xs:element name="antasAv" type="HosPersonal" minOccurs="0"/>

      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Rekommendation">
    <xs:sequence>
      <xs:element name="rekommendationskod" type="types:CV"/>
      <xs:element name="beskrivning" type="types:nonEmptyString" minOccurs="0"/>
      <xs:element name="sjukdomskannedom" type="types:CV" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Observation">
    <xs:sequence>
      <xs:element name="observations-id" type="types:II" minOccurs="0"/>
      <xs:element name="observationskategori" type="types:CV" minOccurs="0"/>
      <xs:element name="observationskod" type="types:CV" minOccurs="0"/>
      <xs:element name="beskrivning" type="types:nonEmptyString" minOccurs="0"/>
      <xs:element name="observationsperiod" type="types:PartiellDatumPeriod" minOccurs="0"/>
      <xs:element name="varde" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="utforsAv" type="Utforarroll" minOccurs="0"/>
      <xs:element name="observationstid" type="types:Datum" minOccurs="0"/>
      <xs:element name="forekomst" type="xs:boolean" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResultType">
    <xs:annotation>
      <xs:documentation xml:lang="sv">
        Datatyp som returneras som ett generellt svar från alla förändrande tjänster, t.ex. skapa, radera, etc.
        En anropande klient skall alltid kontrollera att resultatkoden inte innehåller fel för att på så sätt veta om
        anropet lyckades.
        Alla svarskoder förutom OK och INFO betyder att åtgärden inte genomfördes.
        Om svarskoden är INFO skall fältet resultText innehålla mer information.
        Om svarskorden är ERROR skall fältet errorId innehålla en specifik felkod, och fältet
        resultText innehålla mer information.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="resultCode" type="ResultCodeType"/>
      <xs:element name="resultText" type="xs:string" minOccurs="0"/>
      <xs:element name="errorId" type="ErrorIdType" minOccurs="0"/>
      <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ResultCodeType">
    <xs:annotation>
      <xs:documentation xml:lang="sv">
        Enumerationsvärde som anger de svarskoder som finns.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Transaktionen har utförts enligt uppdraget.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="INFO">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Transaktionen har utförts enligt begäran, men det finns ett meddelande som konsumenten bör visa upp.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ERROR">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Transaktionen har INTE kunnat utföras. Det finns en felkod som klassificerar felet, samt
            ett meddelande som konsumenten bör visa upp.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ErrorIdType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VALIDATION_ERROR">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            En eller flera inparametrar innehåller felaktiga värden. Angiven tjänst utfördes ej, och omsändning av
            transaktionen är inte tillämpbart.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="APPLICATION_ERROR">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Transaktionen har INTE kunnat utföras p.g.a ett logiskt fel. Det finns ett meddelande som konsumenten bör
            visa upp. Då felet är logisk är omsändning av transaktionen inte tillämpbart.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TECHNICAL_ERROR">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Transaktionen har INTE kunnat utföras p.g.a ett tekniskt fel. Det finns ett meddelande som konsumenten bör
            visa upp. Felet kan vara intermittent, varför omsändning av transaktionen är tillämpbart.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="REVOKED">
        <xs:annotation>
          <xs:documentation xml:lang="sv">
            Den efterfrågade informationen existerar men har rättats/dragits tillbaka och är ej längre giltig eller
            tillgänglig. Angiven tjänst utfördes ej, och omsändning av transaktionen är inte tillämpbart.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CertificateMetaType">
    <xs:sequence>
      <xs:element name="certificateId" type="types:nonEmptyString"/>
      <xs:element name="certificateType" type="types:nonEmptyString"/>
      <xs:element name="validFrom" type="types:Datum" minOccurs="0"/>
      <xs:element name="validTo" type="types:Datum" minOccurs="0"/>
      <xs:element name="issuerName" type="types:nonEmptyString"/>
      <xs:element name="facilityName" type="types:nonEmptyString"/>
      <xs:element name="signDate" type="types:TidStampel"/>
      <xs:element name="available" type="types:nonEmptyString"/>
      <xs:element name="status" type="UtlatandeStatus" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element name="complemantaryInfo" type="types:nonEmptyString" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UtlatandeStatus">
    <xs:sequence>
      <xs:element name="target" type="types:nonEmptyString"/>
      <xs:element name="type" type="StatusType"/>
      <xs:element name="timestamp" type="types:TidStampel"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="StatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNHANDLED"/>
      <xs:enumeration value="DELETED"/>
      <xs:enumeration value="RESTORED"/>
      <xs:enumeration value="CANCELLED"/>
      <xs:enumeration value="SENT"/>
      <xs:enumeration value="RECEIVED"/>
      <xs:enumeration value="IN_PROGRESS"/>
      <xs:enumeration value="PROCESSED"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
