clinicalprocess-healthcond-certificate/core-components/src/main/resources/clinicalprocess-healthcond-certificate/core-components/clinicalprocess_healthcond_certificate_types_1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="urn:riv:clinicalprocess:healthcond:certificate:types:1"
    targetNamespace="urn:riv:clinicalprocess:healthcond:certificate:types:1"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	version="1.0">

	<xs:complexType name="UtlatandeId">
		<xs:complexContent>
			<xs:restriction base="II">
				<xs:attribute name="root" type="Uid" use="required" />
				<xs:attribute name="extension" type="nonEmptyString"
					use="optional" />
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="TypAvUtlatande">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:attribute name="code" type="xs:string" use="required" />
				<xs:attribute name="codeSystem" type="Uid" use="required"
					fixed="f6fb361a-e31d-48b8-8657-99b63912dd9b" />
				<xs:attribute name="codeSystemName" type="xs:string"
					use="required" fixed="kv_utlåtandetyp_intyg" />
				<xs:attribute name="displayName" type="xs:string" use="required" />
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="Diagnos">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:attribute name="code" type="xs:string" use="required" />
				<xs:attribute name="codeSystem" type="DiagnosKodsystemRestriktion" use="required"/>
				<xs:attribute name="codeSystemName" type="DiagnosKodsystemNamnRestriktion"
					use="required" />
				<xs:attribute name="displayName" type="xs:string" use="required" />
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="DiagnosKodsystemRestriktion">
		<xs:restriction base="Uid">
			<xs:enumeration value="1.2.752.116.1.1.1.1.3">
				<xs:annotation>
					<xs:documentation>ICD-10-SE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1.2.752.116.1.3.1.4.1">
				<xs:annotation>
					<xs:documentation>KSH97-P</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
		<xs:simpleType name="DiagnosKodsystemNamnRestriktion">
		<xs:restriction base="Uid">
			<xs:enumeration value="ICD-10-SE">
			</xs:enumeration>
			<xs:enumeration value="KSH97-P">
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="PersonId">
		<xs:complexContent>
			<xs:restriction base="II">
				<xs:attribute name="root" type="PersonIdRoot" use="required" />
				<xs:attribute name="extension" type="PersonIdExtension"
					use="required" />
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="PersonIdRoot">
		<xs:restriction base="Uid">
			<xs:enumeration value="1.2.752.129.2.1.3.1" />
			<xs:enumeration value="1.2.752.129.2.1.3.3" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PersonIdExtension">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{8}-\d{4}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="HsaId">
		<xs:complexContent>
			<xs:restriction base="II">
				<xs:attribute name="root" type="Uid" use="required"
					fixed="1.2.752.129.2.1.4.1" />
				<xs:attribute name="extension" type="nonEmptyString"
					use="required" />
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ArbetsplatsKod">
		<xs:complexContent>
			<xs:restriction base="II">
				<xs:attribute name="root" type="Uid" use="required"
					fixed="1.2.752.29.4.71" />
				<xs:attribute name="extension" type="nonEmptyString"
					use="required" />
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="nonEmptyString">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Datum">
		<xs:annotation>
			<xs:documentation>
				Date value is a string with the format
				&#34;YYYY-MM-DD&#34; that
				conforms to the constrained ISO 8601.
				Time
				and timezone precision is not required.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern
				value="[1-2][0-9]{3,3}-((0[1-9])|(1[0-2]))-((0[1-9])|([1-2][0-9])|(3[0-1]))" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TidStampel">
		<xs:annotation>
			<xs:documentation>
				DateTime value is a string with the format
				&#34;YYYY-MM-DDThh:mm:ss&#34;
				that conforms to the constrained ISO
				8601.
				Fraction of seconds and timezone precision is not required.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern
				value="[1-2][0-9]{3,3}-((0[1-9])|(1[0-2]))-((0[1-9])|([1-2][0-9])|(3[0-1]))T(([0-1][0-9])|(2[0-3])):([0-5][0-9]):([0-5][0-9])" />
		</xs:restriction>
	</xs:simpleType>

    <xs:simpleType name="TidStampelMedMillisekunder">
        <xs:annotation>
            <xs:documentation>
                DateTime value is a string with the format
                &#34;YYYY-MM-DDThh:mm:ss&#34;
                that conforms to the constrained ISO
                8601.
                Fraction of seconds and timezone precision is not required.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern
                    value="\d{4}-\d\d-\d\dT\d\d:\d\d:\d\d.\d{3}" />
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="PartielltDatum">
		<xs:annotation>
			<xs:documentation>
				PartialDate value is a string with the format
				&#34;YYYY[-MM[-DD]]&#34; that
				conforms to the constrained ISO
				8601.
				In
				contrast to the date type, this type also allows for year-only and
				year-and-month values.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern
				value="[1-2][0-9]{3,3}(-((0[1-9])|(1[0-2]))(-((0[1-9])|([1-2][0-9])|(3[0-1])))?)?" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="DatumPeriod">
		<xs:sequence>
			<xs:element name="from" type="Datum" minOccurs="0" />
			<xs:element name="tom" type="Datum" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PartiellDatumPeriod">
		<xs:sequence>
			<xs:element name="from" type="PartielltDatum" minOccurs="0" />
			<xs:element name="tom" type="PartielltDatum" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CV">
		<xs:annotation>
			<xs:documentation>
				Grundtyp för att utrycka kodvärden från ett kodverk
				inklusive förklarande
				text
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="code" type="xs:string" use="optional" />
		<xs:attribute name="codeSystem" type="xs:string" use="optional" />
		<xs:attribute name="codeSystemName" type="xs:string" use="optional" />
		<xs:attribute name="codeSystemVersion" type="xs:string"
			use="optional" />
		<xs:attribute name="displayName" type="xs:string" use="optional" />
		<xs:attribute name="originalText" type="xs:string" use="optional" />
	</xs:complexType>

	<xs:complexType name="II">
		<xs:annotation>
			<xs:documentation>
				Grundtyp för att identiteter
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="root" type="xs:string" use="optional" />
		<xs:attribute name="extension" type="xs:string" use="optional" />
		<xs:attribute name="identifierName" type="xs:string" use="optional" />
	</xs:complexType>

	<xs:simpleType name="Uid">
		<xs:restriction base="xs:string" />
	</xs:simpleType>

	<xs:complexType name="PQ">
		<xs:annotation>
			<xs:documentation>
				Grundtyp för att värde och typ
			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="value" type="Decimal" use="optional" />
		<xs:attribute name="unit" type="Code" use="optional" />
	</xs:complexType>

	<xs:simpleType name="Decimal">
		<xs:restriction base="xs:double" />
	</xs:simpleType>
	<xs:simpleType name="Code">
		<xs:restriction base="xs:string" />
	</xs:simpleType>

	<xs:complexType name="Handelsekod">
		<xs:complexContent>
			<xs:restriction base="CV">
				<xs:attribute name="code" type="HandelsekodKodRestriktion"
					use="required" />
				<xs:attribute name="codeSystem" type="Uid" use="required"
					fixed="dfd7bbad-dbe5-4a2f-ba25-f7b9b2cc6b14" />
				<xs:attribute name="codeSystemName" type="xs:string"
					use="required" fixed="kv_händelse" />
				<xs:attribute name="displayName" type="xs:string" use="required" />
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="HandelsekodKodRestriktion">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HAN1">
				<xs:annotation>
					<xs:documentation>Intygsutkast skapat</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HAN2">
				<xs:annotation>
					<xs:documentation>Intyg signerat</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HAN3">
				<xs:annotation>
					<xs:documentation>Intyg skickat till FK</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HAN4">
				<xs:annotation>
					<xs:documentation>Intygsutkast raderat</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HAN5">
				<xs:annotation>
					<xs:documentation>Intyg makulerat</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HAN6">
				<xs:annotation>
					<xs:documentation>Ny fråga från FK</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HAN7">
				<xs:annotation>
					<xs:documentation>Nytt svar från FK</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HAN8">
				<xs:annotation>
					<xs:documentation>Ny fråga till FK</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HAN9">
				<xs:annotation>
					<xs:documentation>Hanterad fråga från FK</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HAN10">
				<xs:annotation>
					<xs:documentation>Hanterat svar från FK</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HAN11">
				<xs:annotation>
					<xs:documentation>Intygsutkast ändrat</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
