cgi/funktionstjanster-grp/schemas/interactions/GrpServiceInteraction/grp-v2_3.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!--
  ~ Copyright (C) 2024 Inera AB (http://www.inera.se)
  ~
  ~ This file is part of sklintyg (https://github.com/sklintyg).
  ~
  ~ sklintyg is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ sklintyg is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0 svn-revision#3528ea595bd29309f69172d231bbce272d21035c. -->
<!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0 svn-revision#3528ea595bd29309f69172d231bbce272d21035c. -->
<definitions
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:tns="http://mobilityguard.com/grp/service/v2.3/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    targetNamespace="http://mobilityguard.com/grp/service/v2.3/"
    name="GrpService">
  <wsp:Policy wsu:Id="GrpServiceServletPortBinding_WSAM_Addressing_Policy">
    <wsam:Addressing wsp:Optional="true">
      <wsp:Policy/>
    </wsam:Addressing>
  </wsp:Policy>
  <types>
    <xsd:schema>
      <xsd:import namespace="http://mobilityguard.com/grp/service/v2.3/" schemaLocation="grp-v2_3-xsd1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://mobilityguard.com/grp/service/v2.0/" schemaLocation="grp-v2_3-xsd2.xsd"/>
    </xsd:schema>
  </types>
  <message name="Cancel">
    <part xmlns:ns1="http://mobilityguard.com/grp/service/v2.0/" name="CancelRequest" element="ns1:CancelRequest"/>
  </message>
  <message name="CancelResponse">
    <part xmlns:ns2="http://mobilityguard.com/grp/service/v2.0/" name="CancelResponse" element="ns2:CancelResponse"/>
  </message>
  <message name="GrpException">
    <part name="fault" element="tns:GrpFaultType"/>
  </message>
  <message name="Sign">
    <part name="SignRequest" element="tns:SignRequestV2_3"/>
  </message>
  <message name="SignResponse">
    <part name="SignResponse" element="tns:SignResponseV2_3"/>
  </message>
  <message name="Authenticate">
    <part name="AuthenticateRequest" element="tns:AuthenticateRequestV2_3"/>
  </message>
  <message name="AuthenticateResponse">
    <part name="AuthenticateResponse" element="tns:AuthenticateResponseV2_3"/>
  </message>
  <message name="Collect">
    <part xmlns:ns3="http://mobilityguard.com/grp/service/v2.0/" name="CollectRequest" element="ns3:CollectRequest"/>
  </message>
  <message name="CollectResponse">
    <part xmlns:ns4="http://mobilityguard.com/grp/service/v2.0/" name="CollectResponse" element="ns4:CollectResponse"/>
  </message>
  <message name="Status">
    <part xmlns:ns5="http://mobilityguard.com/grp/service/v2.0/" name="StatusRequest" element="ns5:StatusRequest"/>
  </message>
  <message name="StatusResponse">
    <part xmlns:ns6="http://mobilityguard.com/grp/service/v2.0/" name="StatusResponse" element="ns6:StatusResponse"/>
  </message>
  <message name="DisplayName">
    <part xmlns:ns7="http://mobilityguard.com/grp/service/v2.0/" name="DisplayNameRequest" element="ns7:DisplayNameRequest"/>
  </message>
  <message name="DisplayNameResponse">
    <part xmlns:ns8="http://mobilityguard.com/grp/service/v2.0/" name="DisplayNameResponse" element="ns8:DisplayNameResponse"/>
  </message>
  <portType name="GrpServicePortType">
    <operation name="Cancel">
      <input wsaw:Action="http://mobilityguard.com/grp/service/v2.0/GrpServicePortType/CancelRequest" wsam:Action="http://mobilityguard.com/grp/service/v2.0/GrpServicePortType/CancelRequest" message="tns:Cancel"/>
      <output wsaw:Action="http://mobilityguard.com/grp/service/v2.0/GrpServicePortType/CancelResponse" wsam:Action="http://mobilityguard.com/grp/service/v2.0/GrpServicePortType/CancelResponse" message="tns:CancelResponse"/>
      <fault message="tns:GrpException" name="GrpException" wsaw:Action="http://mobilityguard.com/grp/service/v2.0/GrpServicePortType/Cancel/Fault/GrpException" wsam:Action="http://mobilityguard.com/grp/service/v2.0/GrpServicePortType/Cancel/Fault/GrpException"/>
    </operation>
    <operation name="Sign">
      <input wsaw:Action="http://mobilityguard.com/grp/service/v2.3/GrpServicePortType/SignRequest" wsam:Action="http://mobilityguard.com/grp/service/v2.3/GrpServicePortType/SignRequest" message="tns:Sign"/>
      <output wsaw:Action="http://mobilityguard.com/grp/service/v2.3/GrpServicePortType/SignResponse" wsam:Action="http://mobilityguard.com/grp/service/v2.3/GrpServicePortType/SignResponse" message="tns:SignResponse"/>
      <fault message="tns:GrpException" name="GrpException" wsaw:Action="http://mobilityguard.com/grp/service/v2.0/GrpServicePortType/Sign/Fault/GrpException" wsam:Action="http://mobilityguard.com/grp/service/v2.0/GrpServicePortType/Sign/Fault/GrpException"/>
    </operation>
    <operation name="Authenticate">
      <input wsaw:Action="http://mobilityguard.com/grp/service/v2.3/GrpServicePortType/AuthenticateRequest" wsam:Action="http://mobilityguard.com/grp/service/v2.3/GrpServicePortType/AuthenticateRequest" message="tns:Authenticate"/>
      <output wsaw:Action="http://mobilityguard.com/grp/service/v2.3/GrpServicePortType/AuthenticateResponse" wsam:Action="http://mobilityguard.com/grp/service/v2.3/GrpServicePortType/AuthenticateResponse" message="tns:AuthenticateResponse"/>
      <fault message="tns:GrpException" name="GrpException" wsaw:Action="http://mobilityguard.com/grp/service/v2.0/GrpServicePortType/Authenticate/Fault/GrpException" wsam:Action="http://mobilityguard.com/grp/service/v2.0/GrpServicePortType/Authenticate/Fault/GrpException"/>
    </operation>
    <operation name="Collect">
      <input wsaw:Action="http://mobilityguard.com/grp/service/v2.0/GrpServicePortType/CollectRequest" wsam:Action="http://mobilityguard.com/grp/service/v2.0/GrpServicePortType/CollectRequest" message="tns:Collect"/>
      <output wsaw:Action="http://mobilityguard.com/grp/service/v2.0/GrpServicePortType/CollectResponse" wsam:Action="http://mobilityguard.com/grp/service/v2.0/GrpServicePortType/CollectResponse" message="tns:CollectResponse"/>
      <fault message="tns:GrpException" name="GrpException" wsaw:Action="http://mobilityguard.com/grp/service/v2.0/GrpServicePortType/Collect/Fault/GrpException" wsam:Action="http://mobilityguard.com/grp/service/v2.0/GrpServicePortType/Collect/Fault/GrpException"/>
    </operation>
    <operation name="Status">
      <input wsaw:Action="http://mobilityguard.com/grp/service/v2.0/GrpServicePortType/StatusRequest" wsam:Action="http://mobilityguard.com/grp/service/v2.0/GrpServicePortType/StatusRequest" message="tns:Status"/>
      <output wsaw:Action="http://mobilityguard.com/grp/service/v2.0/GrpServicePortType/StatusResponse" wsam:Action="http://mobilityguard.com/grp/service/v2.0/GrpServicePortType/StatusResponse" message="tns:StatusResponse"/>
      <fault message="tns:GrpException" name="GrpException" wsaw:Action="http://mobilityguard.com/grp/service/v2.0/GrpServicePortType/Status/Fault/GrpException" wsam:Action="http://mobilityguard.com/grp/service/v2.0/GrpServicePortType/Status/Fault/GrpException"/>
    </operation>
    <operation name="DisplayName">
      <input wsaw:Action="http://mobilityguard.com/grp/service/v2.0/GrpServicePortType/DisplayNameRequest" wsam:Action="http://mobilityguard.com/grp/service/v2.0/GrpServicePortType/DisplayNameRequest" message="tns:DisplayName"/>
      <output wsaw:Action="http://mobilityguard.com/grp/service/v2.0/GrpServicePortType/DisplayNameResponse" wsam:Action="http://mobilityguard.com/grp/service/v2.0/GrpServicePortType/DisplayNameResponse" message="tns:DisplayNameResponse"/>
      <fault message="tns:GrpException" name="GrpException" wsaw:Action="http://mobilityguard.com/grp/service/v2.0/GrpServicePortType/DisplayName/Fault/GrpException" wsam:Action="http://mobilityguard.com/grp/service/v2.0/GrpServicePortType/DisplayName/Fault/GrpException"/>
    </operation>
  </portType>
  <binding name="GrpServiceServletPortBinding" type="tns:GrpServicePortType">
    <wsaw:UsingAddressing/>
    <wsp:PolicyReference URI="#GrpServiceServletPortBinding_WSAM_Addressing_Policy"/>
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="Cancel">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
      <fault name="GrpException">
        <soap12:fault name="GrpException" use="literal"/>
      </fault>
    </operation>
    <operation name="Sign">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
      <fault name="GrpException">
        <soap12:fault name="GrpException" use="literal"/>
      </fault>
    </operation>
    <operation name="Authenticate">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
      <fault name="GrpException">
        <soap12:fault name="GrpException" use="literal"/>
      </fault>
    </operation>
    <operation name="Collect">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
      <fault name="GrpException">
        <soap12:fault name="GrpException" use="literal"/>
      </fault>
    </operation>
    <operation name="Status">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
      <fault name="GrpException">
        <soap12:fault name="GrpException" use="literal"/>
      </fault>
    </operation>
    <operation name="DisplayName">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
      <fault name="GrpException">
        <soap12:fault name="GrpException" use="literal"/>
      </fault>
    </operation>
  </binding>
</definitions>
