cgi/funktionstjanster-grp/schemas/interactions/GrpServiceInteraction/grp-v2_3-xsd1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!--
  ~ Copyright (C) 2024 Inera AB (http://www.inera.se)
  ~
  ~ This file is part of sklintyg (https://github.com/sklintyg).
  ~
  ~ sklintyg is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ sklintyg is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0 svn-revision#3528ea595bd29309f69172d231bbce272d21035c. -->
<xs:schema xmlns:tns="http://mobilityguard.com/grp/service/v2.3/"
    xmlns:ns1="http://mobilityguard.com/grp/service/v2.0/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    version="1.0"
    targetNamespace="http://mobilityguard.com/grp/service/v2.3/">

  <xs:import namespace="http://mobilityguard.com/grp/service/v2.0/" schemaLocation="grp-v2_3-xsd2.xsd"/>

  <xs:element name="AuthenticateRequestV2_3" type="tns:AuthenticateRequestTypeV2_3"/>

  <xs:element name="AuthenticateResponseV2_3" type="tns:OrderResponseTypeV2_3"/>

  <xs:element name="GrpException" type="tns:GrpFaultException"/>

  <xs:element name="GrpFaultType" nillable="true" type="ns1:GrpFaultType"/>

  <xs:element name="SignRequestV2_3" type="tns:SignRequestTypeV2_3"/>

  <xs:element name="SignResponseV2_3" type="tns:OrderResponseTypeV2_3"/>

  <xs:complexType name="exception">
    <xs:complexContent>
      <xs:extension base="tns:throwable">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="throwable">
    <xs:sequence>
      <xs:element name="stackTrace" type="tns:stackTraceElement" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="stackTraceElement" final="extension restriction">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="OrderResponseTypeV2_3">
    <xs:complexContent>
      <xs:extension base="ns1:OrderResponseType">
        <xs:sequence>
          <xs:element name="qrStartToken" type="xs:string" minOccurs="0"/>
          <xs:element name="qrStartSecret" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="SignRequestTypeV2_3">
    <xs:complexContent>
      <xs:extension base="ns1:SignRequestType">
        <xs:sequence>
          <xs:element name="userVisibleDataFormat" type="xs:string" minOccurs="0"/>
          <xs:element name="presentation" type="tns:PresentationType" minOccurs="0"/>
          <xs:element name="expiryTime" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PresentationType">
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="notificationTitle" type="xs:string" minOccurs="0"/>
      <xs:element name="notificationText" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AuthenticateRequestTypeV2_3">
    <xs:complexContent>
      <xs:extension base="ns1:AuthenticateRequestType">
        <xs:sequence>
          <xs:element name="userVisibleData" type="xs:string" minOccurs="0"/>
          <xs:element name="userNonVisibleData" type="xs:string" minOccurs="0"/>
          <xs:element name="userVisibleDataFormat" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GrpFaultException">
    <xs:complexContent>
      <xs:extension base="tns:exception">
        <xs:sequence>
          <xs:element name="faultInfo" type="ns1:GrpFaultType"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
