cgi/funktionstjanster-grp/schemas/interactions/GrpServiceInteraction/grp.wsdl

<!--
 Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.10-hudson-jaxws-ri-2.1.x-release-5-.
-->
<wsdl:definitions
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://funktionstjanster.se/grp/service/v1.0.0/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
    xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    name="GrpService"
    targetNamespace="http://funktionstjanster.se/grp/service/v1.0.0/">

  <wsdl:documentation></wsdl:documentation>

  <wsdl:types>
    <xsd:schema targetNamespace='http://funktionstjanster.se/grp/service/v1.0.0/'>
      <xsd:import schemaLocation='grp.xsd' namespace='http://funktionstjanster.se/grp/service/v1.0.0/' />
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="GrpFault">
    <wsdl:part name="GrpFault" element="tns:GrpFault"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GrpServicePortType_Sign">
    <wsdl:part name="SignRequest" element="tns:SignRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GrpServicePortType_CollectResponse">
    <wsdl:part name="CollectResponse" element="tns:CollectResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GrpServicePortType_Authenticate">
    <wsdl:part name="AuthenticateRequest" element="tns:AuthenticateRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GrpServicePortType_Collect">
    <wsdl:part name="CollectRequest" element="tns:CollectRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GrpServicePortType_SignResponse">
    <wsdl:part name="SignResponse" element="tns:SignResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GrpServicePortType_AuthenticateResponse">
    <wsdl:part name="AuthenticateResponse" element="tns:AuthenticateResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GrpServicePortType_FileSign">
    <wsdl:part name="SignatureFileRequest" element="tns:SignatureFileRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GrpServicePortType_FileSignResponse">
    <wsdl:part name="SignatureFileResponse" element="tns:SignatureFileResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GrpServicePortType">
    <wsdl:operation name="Authenticate">
      <wsdl:input message="tns:GrpServicePortType_Authenticate"></wsdl:input>
      <wsdl:output message="tns:GrpServicePortType_AuthenticateResponse"></wsdl:output>
      <wsdl:fault name="GrpFault" message="tns:GrpFault"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Sign">
      <wsdl:input message="tns:GrpServicePortType_Sign"></wsdl:input>
      <wsdl:output message="tns:GrpServicePortType_SignResponse"></wsdl:output>
      <wsdl:fault name="GrpFault" message="tns:GrpFault"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Collect">
      <wsdl:input message="tns:GrpServicePortType_Collect"></wsdl:input>
      <wsdl:output message="tns:GrpServicePortType_CollectResponse"></wsdl:output>
      <wsdl:fault name="GrpFault" message="tns:GrpFault"></wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FileSign">
      <wsdl:input message="tns:GrpServicePortType_FileSign"></wsdl:input>
      <wsdl:output message="tns:GrpServicePortType_FileSignResponse"></wsdl:output>
      <wsdl:fault name="GrpFault" message="tns:GrpFault"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GrpServiceSoapBinding" type="tns:GrpServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="GrpFault">
        <soap:fault name="GrpFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Sign">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="GrpFault">
        <soap:fault name="GrpFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Collect">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="GrpFault">
        <soap:fault name="GrpFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FileSign">
      <wsp:PolicyReference URI="#ForceMTOM" wsdl:required="false"/>
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="GrpFault">
        <soap:fault name="GrpFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsp:Policy wsu:Id="ForceMTOM">
    <wsoma:OptimizedMimeSerialization/>
  </wsp:Policy>
</wsdl:definitions>